/*
@media screen and (min-width: 768px) {
  .container {
    width: 680px;
  }

  .page-header {
    padding-top: 40px;
    min-height: 700px;
  }

  .page-nav {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 0;
    margin: 0 auto 150px;
  }

  .logo {
    margin: 7px 0 0 0;
  }

  .btn-log {
    margin: 0;
  }

  .page-button {
    height: 35px;
  }
*/
  /*
    .header-info {
        width: 680px;
        padding: 0 95px 0 95px;
        margin: 0 auto;
        box-sizing: border-box;
    }
    */
/*
  .header-title-info {
    font-size: 52px;
    width: 620px;
    margin: 0 auto 40px;
  }

  .txt-header-info {
    font-size: 24px;
    margin-bottom: 40px;
  }

  .section-button {
    width: 226px;
  }

  .title-main-content {
    margin-bottom: 38px;
  }

  .partner {
    width: 480px;
    margin: 0 auto 40px;
  }

  .partner-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
  }

  .partner-item {
    width: 218px;
  }

  .partner-item:nth-child(2) {
    order: 1;
  }

  .partner-item:nth-child(4) {
    order: 2;
  }

  .partner-item:nth-child(odd) {
    margin-bottom: 40px;
  }

  .partner-item:nth-child(even) {
    margin-bottom: 60px;
  }
*/
/*
  .partner-info {
    margin-bottom: 0;
  }

  .other-partners {
    width: 197px;
  }
}

@media screen and (min-width: 940px) {
  .container {
    width: 940px;
  }

  .partner {
    width: 920px;
    margin: 0 auto 70px;
  }

  .partner-item {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 940px) and (max-width: 960px) {
  .container {
    width: 100%;
  }

}*/