$main-font-stack: "Open Sans", serif;
$main-font-txt: "Montserrat";
$main-font-txt-second: "Kaushan Script";
$main-font-txt-item: "Roboto";

$maim-txt-size: 14px;

$header-bgc: linear-gradient( 0, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%);

$secondary-color-txt: rgb(255, 255, 255);
$color-txt-hover: rgb(252, 227, 138);
$btn-txt-hover: rgba(243, 129, 129, 0.9);
$section-txt: rgb(51, 51, 51);
$section-txt-after: rgb(243, 129, 129);
$main-color-txt: rgb(153, 153, 153);
$footer-bgc: rgb(149, 225, 211);