
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900');

body {
  font-family: "Open Sans", serif;
}

.clearfix::after {
  display: table;
  content: '';
  clear: both;
}

.wrapper {
  box-sizing: border-box;
  width: 1110px;
  margin: auto;
  background-color: #fff;
}

.page-header {
  padding: 38px 0 0 0;
}

.site-logo {
  display: inline-block;
}

.logo {}

.main-menu {}

.menu {
  float: right;
  padding: 0;
  margin: 0;
}

.menu-section {
  float: left;
  margin-right: 0;
  list-style-type: none;
}

.menu-section:nth-child(-n+5) {
  margin-right: 30px;
}

.menu-section a {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  font-size: 14px;
  font-family: "Open Sans";  
  font-weight: bold;  
  line-height: 16px;
}

.menu-section a:hover {
  color: #1abc9c;
}

.menu-section-link {}

.content {}

.featured-products {}

.title-products {
  font-size: 48px;
  font-family: "Roboto";
  color: rgb(81, 81, 81);
  text-transform: uppercase;
  line-height: 58px;
  text-align: center;
  margin-top: 105px;
}

.title-products::after {
  display: block;
  content: "";
  background-color: #1abc9c;
  width: 164px;
  height: 7px;
  margin: 32px auto;
}

.products {
  margin-top: 92px;
  padding: 0;
}

.item-products {
  float: left;
  width: 255px;
  height: 322px;
  margin-right: 30px;
  margin-bottom: 30px;
  list-style-type: none;
}

.item-products:nth-child(4n) {
  margin-right: 0;
}

.item-products:nth-child(n+5) {
  margin-bottom: 0px;
}

.link-poducts {
  text-decoration: none;
}

.foto-products {
  float: left;
  background-color: #e9f0fd;
}

.name-products {
  float: left;  
  box-sizing: border-box;
  width: 201px;
  height: 40px;
  margin: 0;
  padding-left: 14px;
  background-color: #323232;  
  font-size: 18px;
  font-family: "Roboto";
  color: #fff;
  font-weight: 700;
  line-height: 40px;  
  text-transform: uppercase;
}

.price-products {
  float: left;
  width: 54px;
  height: 40px;
  margin: 0;
  background-color: #8c8c8c;
  text-align: center; 
  font-size: 18px;
  font-family: "Roboto";
  color: #fff;  
  font-weight: 700;
  line-height: 40px;  
}

.price-products::before {
  content: "$"
}

.link-products:hover .name-products {
  background-color:#1abc9c;
}

.link-products:hover .price-products {
  background-color: #7fd9c7;
}

.latest-news {
  margin-top: 104px;
}



/*.latest-news-title::after {
  display: block;
  content: "";
  background-color: #1abc9c;
  width: 164px;
  height: 7px;
}*/


.list-news {
  list-style-type: none;
  padding: 0;
}

.item-news {
  float: left;
  box-sizing: border-box;
  width: 350px;
  margin-right: 30px;
}

.item-news:nth-child(3n) {
  margin-right: 0;
}

.foto-news{}

.title-news {
  margin-top: 15px;
  font-size: 18px;
  font-family: "Open Sans";
  color: rgb(85, 82, 82);
  line-height: 1.857;
}

.title-news::after {
  display: block;
  content: "";
  background-color: #1abc9c;
  width: 136px;
  height: 3px;
  margin-top: 15px;
}

.txt-news {
  margin-top: 29px;
  font-size: 14px;
  font-family: "Open Sans";
  color: rgb(85, 82, 82);
  line-height: 1.6;
}

.button-news {  
  width: 160px;
  height: 51px;
  margin-top: 29px;  
  border: none;
  border-radius: 5px;
  background-color:#1abc9c;
  font-size: 16px;
  font-family: "Open Sans";
  color: #fff;
  text-align: center;
}

.button-news:hover {
  opacity: 0.5;
}